@inherits LayoutComponentBase

<div class="app-shell">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="top-bar">
        <div class="top-bar-content">
            <h1 class="text-label top-bar-title">AiSa Portal</h1>
        </div>
    </div>

    <main class="main-content">
        <div class="content-container">
            <div class="page-container">
                @Body
            </div>
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
